<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}
        {% endblock %}</title>
      <! -- CSS design Start  -- >
<style>

.SchoolNameOnTop{

    background-color: #ffffff;
     text-align: center;
        font-weight: 500;
    line-height: 2.2;

}
.container{
    background: #ffffff;
    text-align: center;
    font-family: 'Kalpurush', sans-serif;
    font-size: 26px;
    line-height: 1.57143;
    font-weight: 900;

}

.dropdown-menu{
    background: white;

}
.btn{
    font-weight: 800;
    padding: 0.375rem 1.8rem;
}

</style>



  </head>

  <! --Body Start  -- >
  <body>

  <div class="container">
  <div class="SchoolNameOnTop">
    <h1 class="SchoolNameOnTop" style="font-weight: 800;
    padding: 0.375rem 1.8rem;"> হাসনাবাদ কামুচাঁন শাহ উচ্চ বিদ্যালয় </h1>
     </div>


<div class="btn-group" role="group" aria-label="">
   <button type="button" class=" btn btn-outline-info" data-href-template="" >হোম</button>
<button type="button" class="btn btn-outline-info">আমাদের কথা</button>

  <button type="button" class="btn btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> একাডেমিক
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{ syllabus }}">পাঠ্যক্রম</a>
    <a class="dropdown-item" href="#">ক্লাস রুটিন</a>
    <a class="dropdown-item" href="#">পরীক্ষার রুটিন</a>
  </div>
</button>

    <div>
<a class="btn btn-outline-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> পোর্টাল </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a href="/admin" role="button" target="_blank" class="dropdown-item">শিক্ষকদের পোর্টাল</a>
    <a class="dropdown-item" href="#">স্টুডেন্ট পোর্টাল </a>
  </div>
        </div>
    <div>
<button type="button" class="btn btn-outline-info dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
তথ্য
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">নোটিশ </a>
    <a class="dropdown-item" href="" role="button">শিক্ষকদের তথ্য </a>
    <a class="dropdown-item" href="#">স্টাফদের তথ্য </a>



        </div>

  </button>
        </div>
<button type="button" class="btn btn-outline-info">ক্যাম্পাস লাইফ</button>
<button type="button" class="btn btn-outline-info">যোগাযোগ</button>
    <button type="button" class="btn btn-outline-info"><a class="" href=""> </a> জব</button>


  </div>

 </div>



{% block body %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>