{%  extends 'portal/basic.html' %}

{% block title %} সিলেবাস {% endblock %}

{% block body %}




{% for i in syllabuses %}
<li data-target="demo" data-slide-to="{{ i }}" > </li>
<div class="container" style="text-align: left"> {{ i.syllabus_name }}


    <h5> <a href="{{ i.fileupload.url }}" download="{{ i.fileupload.url }}">Download!</a>
    <i> {{ i.pub_date }}</i>
    </h5>




<!--<p>{{ academic.0.desc|linebreaks }} <a href="{{ academic.0.desc.url }}">Read More</a> </p> -->

</div>
    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}


    {% endif %}
{% endfor %}


{% endblock %}